# this is an example/demo file showcasing which environment variables
# are present in the project overall, the actual env variables are in
# .env file on everyone's machine respectively
# Here only the format is present

#  DB_URL=
#  PORT=
#  JWT_SECRET